<div class="column-layout group">
  <igx-combo [data]="northwindAPIv2CustomerDto" displayKey="customerId" [autoFocusSearch]="true" (selectionChanging)="comboSelectionChanging($event)" class="combo">
    <label igxLabel>Select customers</label>
  </igx-combo>
  <igx-card type="outlined" *ngFor="let item of varCustomer" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        {{ item.companyName }}
      </h3>
      <h5 igxCardHeaderSubtitle>
        {{ item.customerId }}
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <ng-container igxEnd>
        <button igxButton="outlined" igxRipple class="button">
          View orders
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
<div class="column-layout group_1">
  <igx-grid [data]="northwindAPIv2OrderDto" primaryKey="orderId" displayDensity="cosy" rowSelection="single" [hideRowSelectors]="true" [allowFiltering]="true" filterMode="excelStyleFilter" (rowSelectionChanging)="gridRowSelectionChanging($event)" class="grid">
    <igx-grid-toolbar>
      <igx-grid-toolbar-title>Orders</igx-grid-toolbar-title>
    </igx-grid-toolbar>
    <igx-column field="orderId" dataType="number" header="orderId" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="customerId" dataType="string" header="customerId" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="employeeId" dataType="number" header="employeeId" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipperId" dataType="number" header="shipperId" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="orderDate" dataType="string" header="orderDate" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="requiredDate" dataType="string" header="requiredDate" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipVia" dataType="number" header="shipVia" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="freight" dataType="number" header="freight" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipName" dataType="string" header="shipName" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.street" dataType="string" header="shipAddress street" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.city" dataType="string" header="shipAddress city" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.region" dataType="string" header="shipAddress region" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.postalCode" dataType="string" header="shipAddress postalCode" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.country" dataType="string" header="shipAddress country" [sortable]="true" [selectable]="false"></igx-column>
    <igx-column field="shipAddress.phone" dataType="string" header="shipAddress phone" [sortable]="true" [selectable]="false"></igx-column>
  </igx-grid>
</div>
